<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
    <script>
 function answer(player_id, score) {
	document.getElementById(player_id +"_minus").style.display = "none";
	document.getElementById(player_id +"_plus").style.display = "none";
	document.getElementById(player_id).style.display = "block";
	document.getElementById(player_id).innerHTML = score;
	if (Number(score)<0){
		document.getElementById(player_id).style.color = "red";
	}

	const node = Object.assign(document.createElement('input'), {
		type: "hidden",
		name: player_id,
		value: score
	});
	document.getElementById("myForm").appendChild(node)
    }
    </script>
  </head>
  <body>
<form method="post" action="/" id="myForm">
    <input type="hidden" name="id" value={{ question.id }}/>
</form>


<div class="player-block left-block">
  <p class="team-name">{{ players[0].name }}</p>
    <p id = "{{ players[0].id }}" class="players-score question_result"></p>
  <div class="buttons-wrapper">
      <button id="{{ players[0].id }}_minus" type ="button" class="plus-minus-button" onclick="answer('{{ players[0].id }}','-{{ question.rate }}')">-{{ question.rate }} </button><button id="{{ players[0].id }}_plus" type ="button" onclick="answer('{{ players[0].id }}','+{{ question.rate }}')" class="plus-minus-button">+{{ question.rate }}</button>
    </div>
</div>


<div class="center-block">
   <div class="buttons-wrapper"><button type ="submit" form="myForm" class="next-button">🡆</button></div>
</div>


<div class="player-block right-block">
  <p class="team-name">{{ players[1].name }}</p>
      <p id = "{{ players[1].id }}" class="players-score question_result"></p>
    <div class="buttons-wrapper">
      <button type ="button" id="{{ players[1].id }}_minus" onclick="answer('{{ players[1].id }}','-{{ question.rate }}')" class="plus-minus-button">-{{ question.rate }}</button><button id="{{ players[1].id }}_plus" onclick="answer('{{ players[1].id }}','+{{ question.rate }}')" type ="button" class="plus-minus-button">+{{ question.rate }}</button>
    </div>
</div>

  <div class="question_block">
      {% if question.type == "text" %}
    <p>{{ question.name }}</p>
      {% elif question.type == "img" %}
      <img src="{{ question.media_path }}">
      {% elif question.type == "audio" %}
      <audio controls src="{{ question.media_path[0] }}", autoplay="autoplay"></audio>
    <audio controls src="{{ question.media_path[1] }}"></audio>
      <p class="treble-clef">𝄞</p>
      {% endif %}
  </div>

  </body>
</html>