<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<!--<form method="post" action="/q" id="myForm">-->
     <input type="hidden" name="id" value={{ question.id }}/>
<div class="button-block left-block">
  <p class="team-name">Свежезамурованные бегемотики</p>
     {% if ft_result == 'wrong' %}
       <p class="team-name">- {{ question.rate }}</p>
    {% elif ft_result == 'right' %}
       <p class="team-name">+ {{ question.rate }}</p>
    {% else %}
    <div class="buttons-wrapper"><form method="post" action="/q" id="myForm2"><input type="hidden" name="id" value={{ question.id }}/><input type="hidden" name="ft_result" value='wrong'/><button type ="submit" value="- {{ question.rate }}" class="plus-minus-button">- {{ question.rate }} </button></form><form method="post" action="/q" id="myForm3"><input type="hidden" name="id" value={{ question.id }}/><input type="hidden" name="ft_result" value='right'/><button type ="submit" value="+ {{ question.rate }}" class="plus-minus-button">+ {{ question.rate }}</button></form>
   {% endif %}
    </div>
</div>
<div class="button-block center-block">
  <p class="team-name"></p>
   <div class="buttons-wrapper"><input type="hidden" name="id" value={{ question.id }}/><button type ="submit" class="next-button">▶</button></div>
</div>
<div class="button-block right-block">
  <p class="team-name">Правая команда</p>
    {% if st_result == 'wrong' %}
       <p class="team-name">- {{ question.rate }}</p>
    {% elif st_result == 'right' %}
       <p class="team-name">+ {{ question.rate }}</p>
    {% else %}
    <div class="buttons-wrapper"><form method="post" action="/q" id="myForm4"><input type="hidden" name="id" value={{ question.id }}/><input type="hidden" name="st_result" value='wrong'/><button type ="submit" class="plus-minus-button">- {{ question.rate }}</button></form><form method="post" action="/q" id="myForm5"><input type="hidden" name="id" value={{ question.id }}/><input type="hidden" name="st_result" value='right'/><button type ="submit" class="plus-minus-button">+ {{ question.rate }}</button></form>
    {% endif %}
    </div>
</div>
<!--</form>-->

  <div class="question_block">
    <p>{{ question.name }}</p>
  </div>


  </body>
</html>