<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">


  </head>
  <body>
    <table>
        <colgroup>
            <col class="first-col"/>
        </colgroup>
                {% for theme in round.themes %}
                    <tr>
                    <td>{{ theme.name }}</td>
                    {% for question in theme.questions %}
                        <td><form method="get" action="/question">
                        {% if question.answered == False %}
                            <input type="hidden" name="question_id" value={{ question.id }}/>
                            <input type="hidden" name="round_num" value={{ round.round_num }}/>
                            <button class="rate_button">{{ question.rate }}</button></form></td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                {% endfor %}
    </table>

  <div class="player-block left-block">
  <p class="team-name">{{ players[0].name }}</p>
  <p id = "{{ players[0].id }}" class="players-score">{{ players[0].score }}</p>
</div>
  <div class="player-block right-block">
  <p  class="team-name">{{ players[1].name }}</p>
  <p id = "{{ players[1].id }}" class="players-score">{{ players[1].score }}</p>
</div>

  </body>
      <script>
        {% for player in players %}
        {% if player.score < 0 %}
        document.getElementById("{{ player.id }}").style.color = "red";
        {% endif %}
        {% endfor %}
      </script>
</html>