<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <table>
        <colgroup>
            <col class="first-col"/>
        </colgroup>
        {% for theme in themes %}
            <tr>
                <td>{{ theme.name }}</td>
                {% for question in theme.questions %}
                <td><form method="get" action="/q">
                    {% if question.answered == False %}
                    <input type="hidden" name="id" value={{ question.id }}/>
                    <button class="rate_button">{{ question.rate }}</button></form></td>
                    {% endif %}
                 {% endfor %}
            </tr>
        {% endfor %}

    </table>

  </body>
</html>