<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">


  </head>

  <body>
<form method="get" action="/start_round" id="myForm">
  <input type="hidden" name="round_num" value={{ round.round_num }}/>
</form>
<div class="center-block">
   <div class="buttons-wrapper"><button type ="submit" form="myForm" class="next-button">🡆</button></div>
</div>
<h1 id="myId" class="summary-text">Раунд {{ round.round_num }}</h1>

                {% for theme in round.themes %}
<h1 id="{{ loop.index }}" class="summary-text" style="display: none">{{ theme.name }}</h1>
                {% endfor %}
      <table style="display: none">
                {% for theme in round.themes %}
                    <tr>
                    <td>{{ theme.name }}</td>
                    </tr>
                {% endfor %}
    </table>
  </body>
  <script>
<!--  Этот совершенно непонятный мне код делает так, что каждые 1.5 секунды inner текст в элементе "myID" меняется на новый-->
const sleep = ms => new Promise(resolve => setTimeout(resolve, ms));

(async () => {
  {% for theme in round.themes %}
  await sleep(1500);
  document.getElementById("myId").innerHTML = '{{ theme.name }}';
  {% endfor %}
  await sleep(1500);
<!--  Когда непонятный код закончился, этот элемент убираем, а табличку с темами наоборот, показываем-->
  document.getElementById("myId").style.display = 'none';
  document.getElementsByTagName("table")[0].style.display = '';
})();


  </script>

</html>