<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">


  </head>
  <body>
<form method="get" action="/start_round" id="myForm">
  <input type="hidden" name="round_num" value={{ round.round_num }}/>
</form>
<div class="center-block">
   <div class="buttons-wrapper"><button type ="submit" form="myForm" class="next-button">🡆</button></div>
</div>

      <table>
        <colgroup>
            <col class="first-col"/>
        </colgroup>
                {% for theme in round.themes %}
                    <tr>
                    <td>{{ theme.name }}</td>
                    </tr>
                {% endfor %}
    </table>
  </body>
</html>